{% extends 'layout.html' %} {%block body%}
<div>
    <form class="mt-5" action="/crear_servicio" method="POST">
        <h2 class="mt-5 text-white"><strong>| Nuevo servicio</strong> </h2>
        <div class="form-group">
            <legend class="mt-2">Mesa</legend>
            <select class="form-select pleg fuente" name="id_mesa">
            {% for disponible in disponibles%} 
            <option> {{ disponible.0 }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <legend class="mt-4">ID del cliente</legend>
            <div class="col-sm-10 row">
                <select class="form-select pleg fuente" style=" margin-left: 10px;" name="id_cliente">
                {% for cliente in clientes %} 
                <option> {{ cliente.0 }}</option> 
                {% endfor %}
            </select>
            </div>
            <div class="botones">
                <a href="/clientes" target="_blank" class="btn btn-primary"> Ver clientes</a>
                <a href="/clientes" class="btn btn-primary mx-lg-2"> Crear nuevo cliente</a>
            </div>
        </div>
        <fieldset class="form-group">
            <legend class="mt-4">Estado</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estado" id="optionsRadios1" value="disponible" checked="">
                <label class="form-check-label" for="optionsRadios1">
            Disponible
          </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estado" id="optionsRadios2" value="ocupado">
                <label class="form-check-label" for="optionsRadios2">
            Ocupado
          </label>
            </div>
            <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="estado" id="optionsRadios3" value="no disponible" disabled="">
                <label class="form-check-label" for="optionsRadios3">
            No disponible
          </label>
            </div>
        </fieldset>
        <div class="form-group">
            <legend class="mt-4">Seña</legend>
            <div class="form-group" style="width: 12rem">
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control fuente" aria-label=" Amount (to the nearest dollar)" name="senia">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>
        <small class="text-muted" style="margin-top: -1rem; position: absolute;"> Formato correcto: 30000.75 : Formato incorrecto: 30.000,75 </small>
        <div class="form-group">
            <legend class="mt-4">Tamaño del grupo</legend>
            <div class="col-sm-10 row">
                <select class="form-select select" id="loop" name="tamano_grupo">
            </select>
            </div>
        </div>
        <button type="submit" id="crear" class="btn btn-primary mt-4 me-2">Enviar</button>
        <a href="/mesas" class="btn btn-primary mt-4"> Volver</a>
    </form>
</div>
{% endblock %}